.footer-middle {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.text-right {
    text-align: right;
}

.pt-90 {
    padding-top: 90px !important;
}

.my-account__address-list {
    display: flex;
    gap: 1.625rem;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 48px;
}

.service-checkboxes label {
    display: block;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #667;
    pointer-events: none;
}

/* Custom responsive table */
.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
/* td {
    padding: 8px;
    text-align: left;
} */

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}